* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #181a1b;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    background: linear-gradient(90deg, rgba(255, 188, 0, 1) 0%, rgba(106, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all ease-in-out 1s;
}

.title:hover {
    transform: translate(-5px, -5px);
}

#box_loading {
    color: whitesmoke;
    font-size: 2rem;
    margin: 15px;
}

.hide {
    display: none !important;
}

.box_message {
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
    border-radius: 10px 10px 10px 0px;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    margin: 2px 2%;
}

.our_message {
    align-self: flex-end;
    flex-direction: row-reverse;
    border-radius: 10px 10px 0px 10px;
}


#box_chat {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    width: 90%;
    display: flex;
    align-items: center;
}

#input {
    width: inherit;
    border: none;
    height: 30px;
    font-size: 1.2rem;
    padding: 15px;
    color-scheme: dark;
}

#send {
    border: none;
    height: 60px;
    font-size: 1.2rem;
    padding: 15px;
    color-scheme: dark;
    cursor: pointer;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 90%;
    height: 60vh;
    border-radius: 15px 15px 0 0;
    background-color: rgb(73, 79, 82);
    overflow-y: scroll;
    scrollbar-width: none;
}

.username {
    margin-right: 3px;
}

#box_username {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20%;
    height: 200px;
}

.label_username {
    color: aliceblue;
    font-size: 1.5rem;
}

#username {
    width: 300px;
    font-size: 1.5rem;
    padding: 7px;
}

#validation {
    padding: 5px 7px;
    font-size: 1.5rem;
}

#copy {
    cursor: pointer;
    padding: 7px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 12px;
}

.connexion {
    color: white;
    font-style: italic;
    margin: 2%;
}

@media screen and (max-width: 1050px) {
    header {
        flex-direction: row;
        width: 83%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 1.2rem;
        padding: 5px;
    }

    #copy {
        padding: 4px;
        margin: 5px;
        font-size: 0.6rem;
    }

    .responsive {
        display: none;
    }

    #box_chat {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    #messages {
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }

    #form {
        width: 100%;
    }
}