* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #181a1b;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 500px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    padding: 15px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 188, 0, 1) 0%, rgba(106, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#newRoom {
    border: none;
    font-size: 2rem;
    padding: 15px;
    margin-top: 25px;
    color-scheme: dark;
    color: black;
    background-color: rgba(255, 188, 0, 1);
    transition: all 1s ease;
}

#newRoom:hover {
    color: white;
    background-color: rgba(106, 0, 255, 1);
}

.desc {
    font-size: 1.7rem;
    text-align: justify;
    width: 90%;
    max-width: 450px;
    color: whitesmoke;
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 3rem;
    }

    .desc {
        font-size: 1.3rem;
    }

    #newRoom {
        font-size: 1.5rem;
    }
}